.footer{
   background-color: $green;



&__conteiner{
   
   display: flex;
   justify-content: space-between;

}
&__right{
      display: flex;
      flex-direction: column;
   }

}
.logo__text-footer{
   color: $white;
text-align: center;
}