.partner {
   display: flex;

   &__left,
   &__right {
      width: 50%;
      padding-bottom: 20px;
   }


}

.patner__text-header{
   font-size: 50px;
}
.partner__text{
   padding-top: 20px;
   padding-bottom: 40px;
}